<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Fading</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>fadeWhenNotifications</string>
			<key>label</key>
			<string>Fade Out When Scrolling</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Fade Alpha</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.2</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>fadeWhenNotificationsAlpha</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>1.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Notifications Y Position</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>455.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>notificationPosition</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>700.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>NextUp</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>nextUpSupport</string>
			<key>label</key>
			<string>NextUp Support</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>customNextUpPositionAndSize</string>
			<key>label</key>
			<string>Custom Position And Size</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>X Axis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>30.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>customNextUpXAxis</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>1000.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Y Axis</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>580.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>customNextUpYAxis</string>
			<key>min</key>
			<real>-100.0</real>
			<key>max</key>
			<real>1000.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Width</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>55.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>customNextUpWidth</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>350.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Height</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>55.0</real>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>customNextUpHeight</string>
			<key>min</key>
			<real>0.0</real>
			<key>max</key>
			<real>350.0</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>RoundLockScreen</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>roundLockScreenSupport</string>
			<key>label</key>
			<string>RoundLockScreen Support</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Lobelias</string>
</dict>
</plist>
